:root {
    --white-color:#fff;
    --text-color:#9a9a9a;
    --yellow-color:#ffd205;
    --pink-color:#f76570;
    --violet-color:#ba71da;
}

* {
    box-sizing: inherit;
} 

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.clearBoth {
    clear: both;
}

.pd10{
    padding-left:10px;
    float: left;
    width: 100%;
}

.float-left {
    float: left;
    width: 100%;
}

.subnav-l {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 78%;
    width: 190px;
    min-height: 90px;
    box-shadow: 0px 2px 5px #f1f1f1;
    font-size: 1.4rem;
}

.subnav-l li a {
    display: block;
    color: #919191;
    padding: 14px 24px;
    border-bottom: 1px solid #f1f1f1;
    text-decoration: none;
}

.subnav-l::before {
    content: "";
    position: absolute;
    top: 0;
    left: -24px;
    height: 100%;
    width: 25px;
}

.subnav-item {
    padding: 0 6px;
    border-radius: 3px;
    float: right;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #fff;
}


    /* btn */

.btn {
    min-width: 95px;
    min-height: 30px;
    border-radius: 30px;
}

/* Overlay */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease-in;
    background-color: #14b9d5;
    display: table;
}

.travel-height {
    height: 20px;
}

.content__packegs-boder {
    border-bottom: 1px solid #f1f1f1;
}
